[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "tools/ido-static-recomp"]
	path = tools/ido-static-recomp
	url = https://github.com/decompals/ido-static-recomp
