.pagebutton {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}

html.dark-mode .pagelink {
    display: block;
    background-color: rgb(40, 44, 52);
    width: 320px;
    box-shadow: 0 0 0 0;
    transition: 0.3s ease;
}

html.dark-mode .pagelink:hover {
  box-shadow: 0 5px 15px 5px rgba(0,0,0,1);

}

.pagelink:hover img {
  transform: scale3d(1.1,1.1,1.1);

}

.pageimg {
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pageimg img {
    transition: 0.3s ease;
}

html.dark-mode .content {
    color: white;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

html.dark-mode .pageheading {
    padding: .5em .5em;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

html.dark-mode .pagedescription {
    color: #fff;
    border-color: transparent;
    opacity: 0.75;
    height: 84px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    display: block;
    padding: 10px;
    text-decoration: none;
    line-height: 1.64em;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
}

.pagea {
    display: inline-block;
}

.pagea:link {
    text-decoration: none;
}

.pagea:visited {
    text-decoration: none;
}

.pagea:hover {
    text-decoration: none;
}

.pagea:active {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

html.dark-mode .clipboard {
    fill: white;
}